---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import { Image } from "astro:assets";

import cyanBlur from "../assets/blur-cyan.png";
import indigoBlur from "../assets/blur-indigo.png";
import { Code } from "astro:components";

import Window from "../components/AppWindow.astro";

import draculaTransparentTheme from "../../shiki/themes/dracula-transparent.json";

import HeroText from "../components/HeroText.astro";

import { GITHUB_REPO } from "../constants.ts";

const dockerSnippet = `# Download the image
$ docker pull ghcr.io/cryling/gender-engine:latest

# Run the image
$ docker run -p 8080:8080 ghcr.io/cryling/gender-engine

# Off you go!
$ curl -X GET "http://localhost:8080/api/v1/gender?name=tom&country=US"
{
  "message": "tom could be found",
  "result": {
    "Name": "tom",
    "Gender": "US",
    "Country": "M",
    "Probability": "0.99560356"
  }
}
`;

const draculaTheme = JSON.parse(JSON.stringify(draculaTransparentTheme));
---

<Layout title="Welcome to Astro.">
  <div class="flex w-full flex-col">
    <Header reporHref={GITHUB_REPO} client:load />
    <div
      class="overflow-hidden dark:bg-slate-900 dark:-mb-32 dark:mt-[-4.75rem] dark:pb-32 dark:pt-[4.75rem]"
    >
      <div class="py-16 sm:px-2 lg:relative lg:px-0 lg:py-20">
        <div
          class="mx-auto grid max-w-8xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 lg:max-w-8xl lg:grid-cols-2 lg:px-8 xl:gap-x-16 xl:px-12"
        >
          <HeroText repoHref={GITHUB_REPO} />

          <div class="grow relative lg:static xl:pl-10">
            <div class="relative">
              <Image
                src={cyanBlur}
                alt="Cyan blur"
                height={530}
                width={530}
                style="color:transparent"
                class="absolute -right-64 -top-64"
              />
              <Image
                src={indigoBlur}
                alt="Cyan blur"
                height={567}
                width={567}
                style="color:transparent"
                class="absolute -bottom-40 -right-44"
              />

              <div
                class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-sky-300 via-sky-300/70 to-blue-300 opacity-10 blur-lg"
              >
              </div>
              <div
                class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-sky-300 via-sky-300/70 to-blue-300 opacity-10"
              >
              </div>
              <div
                class="relative rounded-2xl bg-[#0A101F]/80 ring-1 ring-white/10 backdrop-blur"
              >
                <div
                  class="absolute -top-px left-20 right-11 h-px bg-gradient-to-r from-sky-300/0 via-sky-300/70 to-sky-300/0"
                >
                </div>
                <div
                  class="absolute -bottom-px left-11 right-20 h-px bg-gradient-to-r from-blue-400/0 via-blue-400 to-blue-400/0"
                >
                </div>
                <Window>
                  <div class="mt-4 flex items-start px-1 text-sm">
                    <Code
                      lang="bash"
                      code={dockerSnippet}
                      theme={draculaTheme}
                      class={"pb-6"}
                    />
                  </div>
                </Window>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
